$header-height = 60px
$player-height = 70px
$sidebar-width = 200px
$tab-padding_horizon = 2.5%
$primary-color = #ec4141

// 定制滚动条
// 滚动条宽度
::-webkit-scrollbar {
    width: 5px;
}
// 滚动条滑轨
::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
}
// 滚动条小方块
::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    border-radius: 10px;
}
 
