<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 使用静态资源 -->
  <link rel="stylesheet" type="text/css" href="public/css/default.css" />
</head>

<body>
  <%-include('header.html')-%>
    <h2>现在由<%= id %>号技师，为你服务!</h2>
    <h3><%=username%></h3>
    <h3>你好，我是<%= name %>
        <%= age %>岁,专业技能是<%= skill %>
    </h3>
    </h3>
    <div>
      <button onclick="add()">增加Cookie</button>
      <button onclick="del()">删除Cookie</button>
      <button onclick="editor()">修改Cookie</button>
      <button onclick="show()">查看Cookie</button>
    </div>
    <script>
      function add() {
        fetch("/add", {
          method: "post",
          headers: {
            "Content-type": "application/json"
          }
        });
      }
      function del() {
        fetch("/del", {
          method: "post",
          headers: {
            "Content-type": "application/json"
          }
        });
      }
      function editor() {
        fetch("/editor", {
          method: "post",
          headers: {
            "Content-type": "application/json"
          }
        });
      }
      function show() {
        fetch("/show", {
          method: "post",
          headers: {
            "Content-type": "application/json"
          }
        });
      }
    </script>
</body>

</html>