body,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

.wp {
    width: 300px;
    height: 300px;
    /* css调试技巧 */
    background-color: green;
    /* 盒子模型 */
    /* border: 1px solid red; */
}

.box {
    background-color: pink;
}

.box.size {
    background-color: rgb(18, 74, 230);
    width: 100px;
    height: 100px;
}